server {
    listen 84;
    server_name localhost;
    error_page 404 404error.html;

    location / {
        autoindex on;
        root /Users/bagjeonghun/git/debug/contents/webserv;
        allow_method GET POST DELETE;
        client_max_body_size 10000000;
        cgi .cgi;
        cgi_path /Users/bagjeonghun/git/debug/contents/webserv;
#index 400error.html;
    }
}
